<div id="VMMain">
    <div class="MainContent">
        <div class="VmHead">
            <app-vm-main-head></app-vm-main-head>
        </div>
        <div class="AlarmModule">
            alarm
        </div>
        <div class="CommonModule">
            <app-vm-main-common></app-vm-main-common>
        </div>
        <div class="EquipmentModule">
            equipment
        </div>
        <div class="InspectModule">
            <app-vm-main-inspect></app-vm-main-inspect>
        </div>
        <div class="MapModule">
            map
        </div>
        <div class="MeasureModule">
            measure
        </div>
        <div class="MotionModule">
            motion
        </div>
        <div class="ThreeDimensionsModule">
            BIM
        </div>
        <div class="VideoModule">
            video
        </div>
    </div>
</div>
