<div class="main">
    <div class="commonTitle">
        <app-module-title [title]='title'></app-module-title>
    </div>
    <div class="tunnelMessage">
        <app-grid [title]='tunnelMessage.title' [subTitle]='tunnelMessage.subTitle' [data]='tunnelMessage.data'></app-grid>
    </div>
    <div class="lineMessage">
        <!-- <grid v-bind="lineMessage"></grid> -->
        grid2
    </div>
    <div class="runMessage">
        <p>
            管廊安全运营<span class="safe">{{runMessage.safe}}</span>天
        </p>
    </div>
</div>
